<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reconocimiento Facial</title>
</head>
<body>
    <h1>Proyecto de Reconocimiento Facial con Flask y OpenCV</h1>
    
    <form action="/detect" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".jpg, .jpeg, .png" required>
        <button type="submit">Detectar Rostro</button>
    </form>

    {% if result %}
        <p>{{ result }}</p>
    {% endif %}
</body>
</html>
